doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script.
      function loadfile(filename) {
      const filetype = filename.match(/\.js/i) ? 'js' : filename.match(/\.css/i) ? 'css' : 'unknown';
      if (filetype === 'unknown') return;
      const head = document.getElementsByTagName('head')[0];
      const fileref = document.createElement(filetype === 'js' ? 'script' : 'link');
      if (filetype === 'css') fileref.setAttribute('rel', 'stylesheet');
      fileref.setAttribute('type', filetype === 'js' ? 'text/javascript' : 'text/css');
      fileref.setAttribute(filetype === 'js' ? 'src' : 'href', filename);
      if (filetype === 'js') {
      window.addEventListener('DOMContentLoaded', () => {
      head.appendChild(fileref);
      });
      } else {
      head.appendChild(fileref);
      }
      }

      loadfile('/node_modules/bootstrap/dist/css/bootstrap.css');

      loadfile('/node_modules/%40popperjs/core/dist/esm/popper.js');
      loadfile('/node_modules/bootstrap/dist/js/bootstrap.js');
    style(type='text/css').
      body {
      background-color: #d2d6de;
      }
      .login-box {
      width: 360px;
      margin: 7% auto;
      }
      .login-logo {
      font-size: 35px;
      text-align: center;
      margin-bottom: 25px;
      font-weight: 500;
      }
      .login-box-body {
      background-color: #fff;
      text-align: center;
      padding: 20px;
      }
      .form-group {
      margin-bottom: 15px;
      }
      .errorbox {
      background-color: red;
      if error
        padding: 10px;
      color: white;
      }

    title Login
  body
    .container-fluid
      .login-box
        .login-logo Griffnet
        form(action='../login/' method='post')
          .login-box-body.rounded-3
            .form-group Login
            div
              input#UserName.form-control.form-group.rounded-0(name='email' placeholder='userName or Email' autocomplete='off')
            div
              input#password.form-control.form-group.rounded-0(type='password' name='password' placeholder='password' autocomplete='off')
            .d-grid.gap-2.justify-content-md-end
              button.btn.btn-primary.rounded-0(type='submit') Sign In
        if error
          .errorbox=error

