<!-- Note to self as of 2019-05-19 AGR, This is absolutly horrible code PLEASE PLEASE clean it up, -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= label %>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="../"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active"><i class="fa fa-user-circle"></i> <%= label %></li>
    </ol>
  </section>

  <div class="text-center" id="AddFormContainer">
    <!--a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#AddForm">Add</a-->
    <button class="btn btn-primary btn-rounded mb-4" onclick="addButton()">Add</button>
  </div>

  <div class="gModal show" id="spinner">
    <div class="spinningWhel"></div>
  </div>

  <!-- Main content -->
  <section class="content">
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div id="tableContainer"></div>
      <!-- /.Left col -->
    </div>
    <!-- /.row (main row) -->
  </section>
</div>
