extends /template.pug 

block content 
    
    ul
        li 
            a(href="firstname/")
                span firstname 
        li 
            a(href="lastname/")
                span lastname 